<div class="flex flex-col items-center font-bold text-center">使い方</div>

    <div class="card bg-base-100 w-96 shadow-sm">
        <figure class="px-10 pt-10">
            <img
            src="#"
            alt="#"
            class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
            <h2 class="card-title">クローゼットの管理を始めてみましょう</h2>
            <p>写真を撮って手持ちのお洋服を登録しておけば、お買い物での「これ持ってたっけ？」が防げます</p>
            <p>ぜひお気に入り登録をして、大好きなお洋服を大切にしてください</p>
            <p>※登録した内容は他のユーザーから見られません</p>
        </div>
    </div>
    <div class="card bg-base-100 w-96 shadow-sm">
        <figure class="px-10 pt-10">
            <img
            src="#"
            alt="#"
            class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
            <h2 class="card-title">断捨離してクローゼットをスッキリさせましょう</h2>
            <p>断捨離したことをタイムライン上でシェアすることができます</p>
            <p>他の人の断捨離も見られるから、「私もやってみよう」と前向きに。</p>
            <p>※お洋服の詳細情報は公開されません</p>
        </div>
    </div>
    <div class="card bg-base-100 w-96 shadow-sm">
        <figure class="px-10 pt-10">
            <img
            src="#"
            alt="#"
            class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
            <h2 class="card-title">自分だけの断捨離チェックリストを作ってみましょう</h2>
            <p>何を基準に断捨離するか決めることはとっても大切です</p>
            <p>作ったチェックリストのうち一つでも当てはまるお洋服があれば断捨離を検討してみてください</p>
            <p>※登録した内容は他のユーザーから見られません</p>
        </div>
    </div>
    <div class="card bg-base-100 w-96 shadow-sm">
        <figure class="px-10 pt-10">
            <img
            src="#"
            alt="#"
            class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
            <h2 class="card-title">well断からのお知らせメールで思い出そう</h2>
            <p>季節の変わり目にwell断からお知らせメールを送信しています</p>
            <p>忘れがちな整理整頓のきっかけにぜひご活用ください。</p>
            <p>※アカウントを削除するとメールは届かなくなります。</p>
        </div>
    </div>
</div>