<div class="w-full mx-auto px-4">
  <div class="flex flex-col items-center font-bold text-center my-3">使い方</div>
  <div class="w-full mx-auto px-4 flex flex-wrap ">

  <div class="carousel">
    <div id="guide1" class="carousel-item card bg-base-100 w-96 h-full w-full shadow-sm">
      <div class="flex justify-center items-center gap-4">  
        <figure class="px-10 pt-10">
          <a href="https://gyazo.com/9a2cffa84231123d8e8eb5bcec99b0ec">
          <img src="https://i.gyazo.com/9a2cffa84231123d8e8eb5bcec99b0ec.gif" alt="Image from Gyazo" width="500" class="rounded-xl" />
        </a>
        </figure>
        <div class="card-body items-center text-center">
            <h2 class="card-title">クローゼットの管理を始めてみましょう</h2>
            <p>写真を撮って手持ちのお洋服を登録しておけば、お買い物での「こんなの持ってたっけ？」が防げます</p>
            <p>ぜひお気に入り登録をして、大好きなお洋服を大切にしてください</p>
            <p class="text-sm text-gray-500">※登録した内容は他のユーザーから見られません</p>
        </div>
      </div>
    </div>

    <div id="guide2" class="carousel-item card bg-base-100 w-96 h-full w-full shadow-sm">
      <div class="flex justify-center items-center gap-4">  
        <figure class="px-10 pt-10"> 
          <a href="https://gyazo.com/118c95df9169cdd1701265f8be33ca8c">
            <img src="https://i.gyazo.com/118c95df9169cdd1701265f8be33ca8c.gif" alt="Image from Gyazo" width="500" class="rounded-xl"/>
          </a>
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">断捨離してクローゼットをスッキリさせましょう</h2>
          <p>断捨離したことをタイムライン上でシェアすることができます</p>
          <p>他の人の断捨離も見られるので、「私もやってみよう」と前向きに。</p> 
          <p class="text-sm text-gray-500">※お洋服の詳細情報は公開されません</p>
        </div>
      </div>
    </div>

    <div id="guide3" class="carousel-item card bg-base-100 w-96 h-full w-full shadow-sm">
      <div class="flex justify-center items-center gap-4">  
        <figure class="px-10 pt-10">
          <img
          src="#"
          alt="#"
          class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">自分だけの断捨離チェックリストを作ってみましょう</h2>
          <p>何を基準に断捨離するかを決めることはとっても大切です</p>
          <p>作ったチェックリストのうち一つでも当てはまるお洋服があれば断捨離を検討してみてください</p>
          <p class="text-sm text-gray-500">※登録した内容は他のユーザーから見られません</p>
        </div>
      </div>
    </div>

    <div id="guide4" class="carousel-item card bg-base-100 w-96 h-full w-full shadow-sm">
      <div class="flex justify-center items-center gap-4">  
        <figure class="px-10 pt-10">
          <a href="https://gyazo.com/954afd1bf96f650b4389af7665a3c8f1">
            <img src="https://i.gyazo.com/954afd1bf96f650b4389af7665a3c8f1.png" alt="Image from Gyazo" width="500"/>
          </a>
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">well断からのお知らせメールで思い出そう</h2>
          <p>季節の変わり目にwell断からお知らせメールを送信しています</p>
          <p>忘れがちな整理整頓のきっかけにぜひご活用ください。</p>
          <p class="text-sm text-gray-500">※アカウントを削除するとメールは届かなくなります。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex w-full justify-center gap-2 py-2">
    <a href="#guide1" class="btn btn-xs">1</a>
    <a href="#guide2" class="btn btn-xs">2</a>
    <a href="#guide3" class="btn btn-xs">3</a>
    <a href="#guide4" class="btn btn-xs">4</a>
  </div>
</div>
</div>
</div>
