<div class="mt-20 flex space-x-4">
<!-- 画像1 -->
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src="../img/guide.JPG" alt="guide1">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">使い方1</div>
    <p class="text-gray-700 text-base">使い方1詳細</p>
  </div>
</div>
<!-- 画像2 -->
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src="../img/guide.JPG" alt="guide2">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">使い方2</div>
    <p class="text-gray-700 text-base">使い方2詳細</p>
  </div>
</div>
<!-- 画像3 -->
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src="../img/guide.JPG" alt="guide3">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">使い方3</div>
    <p class="text-gray-700 text-base">使い方3詳細</p>
  </div>
</div>
<!-- 画像4 -->
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src="../img/guide.JPG" alt="guide4">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">使い方4</div>
    <p class="text-gray-700 text-base">使い方4詳細</p>
  </div>
</div>
</div>
<div class="mt-20 flex flex-wrap space-x-4">
  <!-- 画像1 -->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a href="https://gyazo.com/811ad342ebe3dc7252bf90d3074264b0">
      <img src="https://i.gyazo.com/811ad342ebe3dc7252bf90d3074264b0.gif" alt="持っている服を登録する方法" width="702.67"/>
    </a>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">持っている服を登録しましょう！</div>
      <p class="text-gray-700 text-base">服のカテゴリーとシーズンは必須項目です。任意の項目は覚えている範囲で入力しておきましょう。</p>
    </div>
  </div>

  <!-- 画像2 -->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a href="https://gyazo.com/9354d3ef49a1ebfc2425044f090ddddd">
      <img src="https://i.gyazo.com/9354d3ef49a1ebfc2425044f090ddddd.png" alt="入力フォーム画面" width="317.33"/>
    </a>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">入力フォーム画面</div>
      <p class="text-gray-700 text-base">フォームに必要な情報を入力してください。</p>
    </div>
  </div>

  <!-- 画像3 -->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a href="https://gyazo.com/3527b02d54b3a152d2c9262f2c0d704e">
      <img src="https://i.gyazo.com/3527b02d54b3a152d2c9262f2c0d704e.png" alt="詳細画面" width="320.67"/>
    </a>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">詳細画面</div>
      <p class="text-gray-700 text-base">登録した服の詳細情報を確認できます。</p>
    </div>
  </div>

  <!-- 画像4 -->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a href="https://gyazo.com/ae3456114ef494512ce52633ce4bde11">
      <img src="https://i.gyazo.com/ae3456114ef494512ce52633ce4bde11.png" alt="チェックリストの活用" width="702.67"/>
    </a>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">使い方4</div>
      <p class="text-gray-700 text-base">チェックリストを活用して、断捨離のタイミングを管理しましょう。</p>
    </div>
  </div>
</div>

<!--検索フォームで使いたい-->
<div class="join">
<div>
  <div>
    <input class="input join-item" placeholder="Search" />
  </div>
</div>
<select class="select join-item">
  <option disabled selected>Filter</option>
  <option>Sci-fi</option>
  <option>Drama</option>
  <option>Action</option>
</select>
<div class="indicator">
  <button class="btn join-item">Search</button>
</div>
<!--ここまで -->

<!-- 断捨離済み　アバター表示する-->
<ul class="list bg-base-100 rounded-box shadow-md">
  
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Most played songs this week</li>
  
  <li class="list-row">
    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp"/></div>
    <div>
      <div>Dio Lupa</div>
      <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
    </div>
    <button class="btn btn-square btn-ghost">
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
    </button>
    <button class="btn btn-square btn-ghost">
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
    </button>
  </li>
  
  <li class="list-row">
    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/4@94.webp"/></div>
    <div>
      <div>Ellie Beilish</div>
      <div class="text-xs uppercase font-semibold opacity-60">Bears of a fever</div>
    </div>
    <button class="btn btn-square btn-ghost">
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
    </button>
    <button class="btn btn-square btn-ghost">
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
    </button>
  </li>
  
  <li class="list-row">
    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp"/></div>
    <div>
      <div>Sabrino Gardener</div>
      <div class="text-xs uppercase font-semibold opacity-60">Cappuccino</div>
    </div>
    <button class="btn btn-square btn-ghost">
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
    </button>
    <button class="btn btn-square btn-ghost">
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
    </button>
  </li>
  
</ul>
<!--ここまで-->