<body>
  <div class="m-auto m-10 bg-white p-6 shadow-md">
    <h1 class="text-xl font-bold text-center border-b-2 pb-2 mb-6">利用規約</h1>
    <p>この利用規約（以下，「本規約」といいます。）は，＿＿＿＿＿（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>
    
    <h2 class="text-xl font-semibold border-l-4 pl-3 my-4">第1条（適用）</h2>
    <ol class="list-decimal pl-5 space-y-2">
        <li>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
        <li>当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。</li>
    </ol>
        
    <h2 class="text-xl font-semibold border-l-4 pl-3 my-4">第2条（利用登録）</h2>
      <ol class="list-decimal pl-5 space-y-2">
        <li>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社が承認を通知することで利用登録が完了するものとします。</li>
        <li>当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録を承認しないことがあります。
          <ol class="list-disc pl-5 space-y-2">
            <li>虚偽の申請を行った場合</li>
            <li>本規約に違反したことがある者からの申請である場合</li>
            <li>その他，当社が相当でないと判断した場合</li>
          </ol>
        </li>
      </ol>
        
    <h2 class="text-xl font-semibold border-l-4 pl-3 my-4">第3条（ユーザーIDおよびパスワードの管理）</h2>
    <ol class="list-decimal pl-5 space-y-2">
        <li>ユーザーは，自身の責任において，ユーザーIDおよびパスワードを適切に管理するものとします。</li>
        <li>第三者に譲渡・貸与または共用することはできません。</li>
    </ol>
        
    <h2 class="text-xl font-semibold border-l-4 pl-3 my-4">第4条（利用料金および支払方法）</h2>
    <ol class="list-decimal pl-5 space-y-2">
        <li>本サービスの有料部分の対価として，当社が定める利用料金を支払うものとします。</li>
        <li>支払遅延が発生した場合，遅延損害金を支払うものとします。</li>
    </ol>
    
    <h2 class="text-xl font-semibold border-l-4 pl-3 my-4">第5条（禁止事項）</h2>
    <p>ユーザーは，以下の行為をしてはなりません。</p>
    <ol class="list-decimal pl-5 space-y-2">
        <li>法令または公序良俗に違反する行為</li>
        <li>犯罪行為に関連する行為</li>
        <li>当社や第三者のサーバー・ネットワークの破壊や妨害行為</li>
    </ol>
    
    <h2 class="text-xl font-semibold border-l-4 pl-3 my-4">第6条（本サービスの提供の停止等）</h2>
    <ol class="list-decimal pl-5 space-y-2">
        <li>当社は，必要と判断した場合，本サービスの全部または一部の提供を停止または中断できるものとします。</li>
    </ol>
    
    <h2 class="text-xl font-semibold border-l-4 pl-3 my-4">第7条（著作権）</h2>
    <ol class="list-decimal pl-5 space-y-2">
        <li>ユーザーは，著作権を有するか，または権利者の許諾を得た情報のみを投稿・アップロードできます。</li>
    </ol>
    
    <p class="text-right font-bold mt-6">以上</p>
  </div>
</body>