<div class="p-4 flex items-center justify-center h-screen text-center" style="background-image: url(<%= image_path('hero.png') %>); background-size: cover; background-position: center;">
  <div>
    <%= image_tag "logo.png" %>
    <h2 class="mt-5 text-xl rounded-full bg-white">クローゼット管理と断捨離のアプリ</h2>
  </div>
</div>
