<div class="flex items-center justify-center h-screen" style="background-image: url(<%= image_path('hero.png') %>); background-size: cover; background-position: center;">
  <div class="grid place-center h-16">
    <%= image_tag "logo.png" %>
    <h2 class="rounded-full bg-white text-center text-xl mt-5">クローゼット管理と断捨離をサポートするサービス</h2>
    #ガイド
  </div>
</div>
