<h1><%= @user_name.presence || @user.email %> さん、いつも well断 をご利用いただきありがとうございます。</h1>

<p>
  そろそろ季節の変わり目です。<strong>well断</strong>を開いて、クローゼットを整理しましょう！
</p>

<p>
  <%= link_to "ログインはこちらから", @url %>
</p>

<p style="font-size: 0.9em; color: #888;">
  ※なお、このメールは送信専用です。返信には対応しておりませんのでご注意ください。
</p>
