<header class="header">
  <h1 class="header-logo">
    <%= link_to I18n.t(".defaults.welldone"), root_path %>
  </h1>
  <div class="header-nav">
    <div class="header-nav-item">
      <%= link_to I18n.t(".devise.shared.links.sign_up"), new_user_registration_path %>
    </div>
    <div class="header-nav-item">
      <%= link_to I18n.t(".devise.shared.links.sign_in") , user_session_path %>
    </div>
  </div>
</header>
