<footer class="footer sm:footer-horizontal bg-neutral text-base-100 p-10">  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
  <div class="container mx-auto flex justify-between items-center">
  <div>
    <img src="#" width="140" height="20" alt="WellDone Logo（未）" class="w-36" />
  </div>
  <div class="grid grid-cols-2 gap-8 text-left">
    <div>
      <p class="font-bold text-lg">FOLLOW ME</p>
      <ul>
        <li><a href="https://github.com/kobakaho" class="link link-hover">GitHub</a></li>
      </ul>
    </div>
    <div>
      <p class="font-bold text-lg">ABOUT</p>
      <ul>
        <li><a href="#" class="link link-hover"><%= I18n.t(".fotter.contact_us") %></a></li>
        <li><a href="#" class="link link-hover"><%= I18n.t(".fotter.terms_of_service") %></a></li>
        <li><a href="#" class="link link-hover"><%= I18n.t(".fotter.privacy_policy") %></a></li>
      </ul>
    </div>
  </div>

  <div class="divider my-4"></div>

  <p class="text-center text-sm opacity-80">© 2025 - WellDone</p>
</footer>
