<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="#" width="140" height="20" alt="WellDone Logo（未）" />
    </div>
      <div class="footer-nav">
      <div class="footer-nav-section">
        <p class="footer-heading">FOLLOW ME</p>
        <ul class="footer-list">
          <li><a href="https://github.com/kobakaho" class="footer-link">GitHub</a></li>
        </ul>
      </div>
      <div class="footer-nav-section">
        <p class="footer-heading">ABOUT</p>
        <ul class="footer-list">
          <li><a href="#" class="footer-link"><%= I18n.t(".fotter.contact_us") %></a></li>
          <li><a href="#" class="footer-link"><%= I18n.t(".fotter.terms_of_service") %></a></li>
          <li><a href="#" class="footer-link"><%= I18n.t(".fotter.privacy_policy") %></a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="footer-divider" />
  
  <p class="footer-copy">
    © 2025 - WellDone
  </p>
</footer>
