<%= form_with model: @checklist, class: "space-y-6" do |form| %>
  <%= render "shared/error_messages", object: form.object %>

  <div class="form-control">
    <%= form.text_field :title, placeholder: "チェックリストタイトル", class: "input input-bordered w-full" %>
  </div>

  <div class="mt-6 text-center">
    <%= form.submit I18n.t(".helpers.submit.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
