<%= render "form" %>

<div class="text-center">
  <%= link_to I18n.t(".helpers.submit.back"), checklist_path, class: "btn btn-link" %>
  <%= link_to I18n.t(".defaults.index"), checklists_path, class: "btn btn-link" %>
</div>
