<turbo-frame id="modal">
  <dialog data-controller="modal" data-modal-target="dialog" 
    data-action="turbo:submit-end->modal#closeOnSubmit click->modal#backdropClick" id="modal_dialog" class="modal" open>
    <div class="modal-box w-auto h-auto overflow-y-auto">

    <%= render "form" %>
    
    <form method="dialog" class="modal-backdrop"></form>
  </dialog>
</turbo-frame>