<%= render "form" %>

<div class="mt-6 text-center">
  <%= link_to I18n.t(".defaults.show"), checklist_path %>
  <%= link_to I18n.t(".defaults.index"), checklists_path, class: "btn btn-link" %>
</div>
