<div class="container mx-auto px-4 min-h-screen">
  <%= link_to new_checklist_path, data: { turbo_frame: "modal" }, class: "btn btn-secondary flex items-center mt-10" do %>
    <i class="fa-solid fa-plus fa-2xl" style="color: #293454;"></i>
    <span><%= I18n.t(".defaults.create") %></span>
  <% end %>

  <div id="checklist", class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 my-8">
    <% if @checklists.present? %>
      <% @checklists.each do |checklist| %>
        <%= link_to checklist_path(checklist), class: "card transition-transform transform hover:scale-105" do %>
          <%= render checklist %>
        <% end %>
      <% end %>
    <% else %>
      <p class="col-span-full text-center">チェックリストを作成しましょう！</p>
    <% end %>
  </div>
</div>