<turbo-frame id ="modal">
  <div role="dialog" tabindex="-1" class="fixed inset-0 z-30 flex items-center justify-center w-full h-screen p-2">
    <div class="card bg-base-100 shadow-md w-96 p-6">
      <%= link_to checklists_path do %>
        <i class="fa-solid fa-arrow-right fa-rotate-180 fa-2xl" style="color: #293454;"></i>
      <% end %>
      <%= render "form", checklist: @checklist %>
    </div>  
  </div>
</turbo-frame>