<turbo-frame id="modal">
  <dialog data-controller="modal" data-modal-target="dialog" 
    data-action="turbo:submit-end->modal#closeOnSubmit click->modal#backdropClick keydown.esc->modal#close" id="modal_dialog" class="modal" open>
    <div class="modal-box">

    <%= render "form", checklist: @checklist %>
    
    <form method="dialog" class="modal-backdrop"></form>
  </dialog>
</turbo-frame>            
