  <div id="get_parents">
    <%= select_tag :parent_id, options_from_collection_for_select(@parents, :id, :name, @selected_parent_id), 
    include_blank: "選択してください", 
    class: "select select-bordered w-full",
    data: { controller: "category", action: "change->category#fetchChildren" } %>
  </div>
