<%= link_to favorite_path(current_user.favorites.find_by(cloth_id: cloth.id)), id: "unfavorite-button-for-cloth-#{cloth.id}", data: { turbo_method: :delete } do %>
  <button class="btn btn-ghost fa-solid fa-heart fa-xl" style="color: #bb6c69;"></button>
<% end %>