<div class="container mx-auto px-4 min-h-screen flex flex-col lg:flex-row gap-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 p-2">
  
    <% if @favorite_cloths.present? %>
      <% @favorite_cloths.each do |cloth| %>
        <div class="card bg-base-100 w-96 shadow-md relative m-2">
          <%= render cloth %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center">お気に入りしましょ</div>
    <% end %>
  </div>
</div>
