<h1>クローゼット一覧</h1>

<div id="cloths">
  <%= @cloths.each do |cloth| %>
    <%= render cloth %>
    <p>
      <%= link_to "詳細", cloth %>
    </p>
  <% end %>
</div>

<%= link_to "新規登録", new_cloth_path %>
